.back_color {
    background-color: dodgerblue;
    margin-left: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-family: serif;
    font-size: 25px;   
}
.board{
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    
}

.background {
    background-color: #d6c2c2;
}
.image_size{
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.image_size_view{
    width: 140px;
    height: 140px;
    float: left;

}

.image_size_view_large{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.image_size_view_comp{
    width: 75%;
    height: 70%;
    display: block;

}
.text_format{
    width: 70%;
    float: left;
}

.card-title{
    color:#03b188;
}
footer{
    text-align: center;
    color: white;
    background: #196f6f;
    display: block;
    padding: 0.5%;
    
}

@media (max-width: 600px) { 

.image_size_view{
    width: 150px;
    height: 150px;
    float: left;

}
.size_hide{
        visibility:collapse;
    
    }
}
